services:
  # 1. Aplikasi Catatan (Memos)
  memos:
    image: neosmemo/memos:stable
    container_name: local-memory
    ports:
      - "5230:5230"
    volumes:
      - ./memos_data:/var/opt/memos
    restart: always

  # 2. SilverBullet (Lightweight Markdown Notes)
  silverbullet:
    image: zefhemel/silverbullet
    container_name: local-notes
    ports:
      - "3000:3000"
    volumes:
      - ./notes:/space
    restart: always

  # 2. Agent AutoGen
  agent:
    image: ag-agent:latest
    container_name: autogen-client
    depends_on:
      - memos
    environment:
      - OLLAMA_BASE_URL=http://host.docker.internal:11434/v1
      - MEMOS_BASE_URL=http://host.docker.internal:5230
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./coding_output:/app/coding_output
    entrypoint: [ "tail", "-f", "/dev/null" ]
